# Created by .ignore support plugin (hsz.mobi)
/venv/
.idea
/__pycache__/
/superform/superform/config.json
.cache/*
.pytest_cache/*
/superform/.cache/*
/superform/.pytest_cache/*

*.pyc
*.xml
superform.db
*.cert
*.key
*.aux
*.log
*.out
*.whl
d4_report.pdf
*.toc
*.webloc
pip
superform/build/lib/
superform/dist/
superform/superform.egg-info/dependency_links.txt
superform/superform.egg-info/
.flooignore

*.db
