# Created by .ignore support plugin (hsz.mobi)
/venv/
.idea
/__pycache__/
config.json
.cache/*
.pytest_cache/*
.DS_Store
*/uperform.db
credentials.json
superform/uild/
superform/dist/
superform/superform.egg-info/
