{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block content %}
    <h1>Index</h1>

    {% if session.logged_in %}

        <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>
                  #
                </th>
                <th>
                  Subject
                </th>
                <th>
                  Body
                </th>
                <th>
                    Action
                </th>
              </tr>
            </thead>

            <tbody>
                {% for item in posts %}
                <tr>
                    <td>
                        {{ item.id }}
                    </td>
                    <td>
                        {{ item.title }}
                    </td>
                    <td>
                        <div class="row">
                            <div class="col">{{ item.description }}</div>
                        </div>
                    </td>
                    <td>
                        <a href="/edit_post/{{ item.id }}" class="btn btn-outline-primary" role="button">Edit</a>
                        <button type="button" class="btn btn-outline-primary">Copy</button>
                        <a href="/delete_post/{{ item.id }}" class="btn btn-outline-warning" role="button">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    {% else %}
        <p>Your are not logged in.</p>
    {% endif %}


{% endblock %}