{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block content %}
    <h1>Index</h1>

    {% if session.logged_in %}

        <div class="row">
        <div class="col-md-12">
            {% if user.is_mod %}
                <h2>Unmoderated Publishings</h2>
                <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>
                      Channel
                    </th>
                    <th>
                      Subject
                    </th>
                    <th>
                      Body
                    </th>
                    <th>
                        Author
                    </th>
                    <th>
                        Action
                    </th>
                  </tr>
                </thead>

                <tbody>
                <script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else {
      // The person is not logged into your app or we are unable to tell.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '{your-app-id}',
      cookie     : true,  // enable cookies to allow the server to access 
                          // the session
      xfbml      : true,  // parse social plugins on this page
      version    : 'v2.8' // use graph api version 2.8
    });

    // Now that we've initialized the JavaScript SDK, we call 
    // FB.getLoginStatus().  This function gets the state of the
    // person visiting this page and can return one of three states to
    // the callback you provide.  They can be:
    //
    // 1. Logged into your app ('connected')
    // 2. Logged into Facebook, but not your app ('not_authorized')
    // 3. Not logged into Facebook and can't tell if they are logged into
    //    your app or not.
    //
    // These three cases are handled in the callback function.

    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
    });
  }
</script>
                {% for p in publishings %}
                    <tr>
                        <td>
                            {{ p.channel_id }}
                        </td>
                        <td>
                            {{ p.title }}
                        </td>
                        <td>
                            <div class="row">
                                <div class="col">{{ p.description }}</div>
                            </div>
                        </td>
                        <td>
                            {{ p.get_author() }}
                        </td>
                        <td>
                            <a href="{{ url_for('publishings.moderate_publishing',id=p.post_id,idc=p.channel_id) }}" class="btn btn-outline-primary" role="button">Moderate</a>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
            {% endif %}
            <h2>All my posts</h2>
            <table class="table table-bordered">
            <thead>
              <tr>
                <th>
                  #
                </th>
                <th>
                  Subject
                </th>
                <th>
                  Body
                </th>
                <th>
                    Action
                </th>
              </tr>
            </thead>

            <tbody>
                {% for item in posts %}
                <tr>
                    <td>
                        {{ item.id }}
                    </td>
                    <td>
                        {{ item.title }}
                    </td>
                    <td>
                        <div class="row">
                            <div class="col">{{ item.description }}</div>
                        </div>
                    </td>
                    <td>
                        <a href="#" class="btn btn-outline-primary" role="button">Edit</a>
                        <a href="#" class="btn btn-outline-primary">Copy</a>
                        <a href="#" class="btn btn-outline-warning" role="button">Delete</a>
                    </td>
                </tr>
                {% endfor %}
                <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
            </fb:login-button>
            </tbody>
            </table>
        </div>
      </div>
    {% else %}
        <p>Your are not logged in.</p>
    {% endif %}


{% endblock %}