{% extends "channel_configure.html" %}
{% block content %}
    <h1>Configuration</h1>
    {% if session.logged_in %}
        <form method="POST" action="">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12">
                            {% for field in config_fields %}
                                <div class="form-group">
                                    <label for="{{ field }}">{{ field }}</label><br>
                                    <input type="{{ 'password' if field == 'Password' else 'text' }}"
                                           name="{{ field }}"
                                           id="{{ field }}"
                                           class="form-control"
                                           value="{{ channel.config_dict.get(field) }}">
                                </div>
                            {% endfor %}
                            <a type="button" class="btn btn-info"
                               href="{{ redirect }}">Link
                                in your LinkedIn</a> <br/> <br/>
                            <button class="btn btn-outline-info" name="toLK" type="submit" value="toLK">To LK
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-success" type="submit">Save Configuration
            </button>
            <a type="button" class="btn btn-outline-primary"
               href="{{ url_for('channels.channel_list') }}">Abort</a>
        </form>
    {% else %}
        Your are not logged in.
    {% endif %}
{% endblock %}
