{% extends "layout.html" %}
{% block title %}Moderate{% endblock %}
{% block content %}
    <h1>Moderate this publication</h1>
    {% if session.logged_in %}
        <form method="POST" action="">
        <!--{% if error %}
            <div class="alert alert-success">{{message}}</div>
        {% endif %}
        -->
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="titlepost">Title</label><br>
                        <input type="text" name="titlepost" id="titlepost" class="form-control" value="{{ pub.title }}">
                    </div>
                    <div class="form-group">
                        <label for="descrpost">Description</label><br>
                        <textarea class="form-control" rows="5" id="descrpost" name="descrpost">{{ pub.description }}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="linkurlpost">Link</label><br>
                        <input type="text" name="linkurlpost" id="linkurlpost" class="form-control" value="{{ pub.link_url }}">
                    </div>
                    <div class="form-group">
                        <label for="imagepost">Image</label><br>
                        <input type="file" name="imagepost" id="imagepost" class="form-control" value="{{ pub.image_url }}">
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="datefrompost">Publication Date</label><br>
                                <input id="datefrompost" name="datefrompost" type="datetime-local" class="form-control" value="{{ pub.date_from }}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="dateuntilpost">Publication Until</label><br>
                                <input id="dateuntilpost" name="dateuntilpost" type="datetime-local" class="form-control" value="{{ pub.date_until }}">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <button class="btn btn-success">Publish</button>
        </form>
    {% else %}
        Your are not logged in.
    {% endif %}

{% endblock %}
