{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block content %}
    <h1>Index</h1>
    <p>
    {% if logged_in %}
        {{ session.attrs }}
    {% else %}
        Your are not logged in.
    {% endif %}
    </p>
      <div class="row">
        <div class="col-md-12">
            <form method="POST" action="">
                <div class="form-group">
                    <label for="chanName">Name of the channel</label>
                    <input type="text" name="chanName" id="chanName" class="form-group">
                </div>
                <div class="form-group">
                    <label for="plugintype">Plugin</label>
                    <select name="plugintype" id="plugintype" class="form-group">
                        <option>mail</option>
                    </select>
                </div>
                <button class="btn btn-primary">Save</button>
            </form>
        </div>
      </div>
{% endblock %}